Repository instagrim-dev/fitpulse: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, task-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        files: "^(services/identity-service/|scripts/|docs/DeveloperGuide.md)"
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix"]
        files: "^services/identity-service/"
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.61.0
    hooks:
      - id: golangci-lint
        files: "^services/(activity-service|exercise-ontology-service|libs/go)/"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.3.3
    hooks:
      - id: prettier
        files: "^(docs/|frontend/|README.md$)"
  - repo: https://github.com/stoplightio/spectral
    rev: v6.12.1
    hooks:
      - id: spectral
        files: "^docs/API/.*\\.yaml$"
        additional_dependencies:
          - "@stoplight/spectral-cli@6.12.1"
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt
        language: system
        types: [go]
      - id: goimports
        name: goimports
        entry: goimports
        language: system
        types: [go]
      - id: task-docs-lint
        name: Spectral via Task
        entry: task docs:lint
        language: system
        pass_filenames: false
        files: "^docs/API/.*\\.yaml$"

save
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docs/Design/HLD.md
  scripts/ci/run-integration.sh
  services/activity-service/internal/outbox/dispatcher_integration_test.go
Due: gofmt, goimports

save
  .gitignore
  README.md
  frontend/web/.eslintrc.cjs
  frontend/web/package.json
  frontend/web/pnpm-lock.yaml
  frontend/web/src/App.tsx
  frontend/web/src/api/activity.ts
  frontend/web/src/api/ontology.ts
  frontend/web/src/components/ActivityForm.test.tsx
  frontend/web/src/components/ActivityForm.tsx
  frontend/web/src/components/ActivityList.tsx
  frontend/web/src/components/OntologySearch.tsx
  frontend/web/src/context/AuthContext.tsx
  frontend/web/src/main.tsx
  frontend/web/tsconfig.eslint.json
  frontend/web/typedoc.json
Due: none

docs
  .gitignore
  README.md
  Taskfile.yml
  services/identity-service/app/api/routes.py
  services/identity-service/app/domain/contracts.py
  services/identity-service/app/domain/service.py
  services/identity-service/app/main.py
  services/identity-service/app/repository.py
  services/identity-service/app/security/rate_limiter.py
  services/identity-service/app/security/redis_rate_limiter.py
  services/identity-service/app/security/tokens.py
  services/identity-service/docs/_static/.gitkeep
  services/identity-service/docs/_templates/.gitkeep
  services/identity-service/docs/conf.py
  services/identity-service/docs/index.rst
  services/identity-service/docs/overview.rst
  services/identity-service/docs/reference.rst
  services/identity-service/pyproject.toml
Due: none

docs
  .devcontainer/devcontainer.json
  README.md
  docs/Design/HLD.md
  docs/Design/LLD.md
  docs/Design/LLD.md.bak
  docs/DeveloperGuide.md
Due: none

CI
  .github/workflows/ci.yml
Due: none

CI
  .github/workflows/ci.yml
  .github/workflows/swagger-ui.yml
Due: none

CI
  .github/workflows/ci.yml
  services/identity-service/app/repository.py
Due: none

pnpm
  Taskfile.yml
  docs/API/identity-service.yaml
  package.json
  pnpm-lock.yaml
Due: task-docs-lint

ci
  Taskfile.yml
Due: none

e2e
  frontend/web/tests/e2e/auth.spec.ts
  frontend/web/tests/e2e/dashboard.spec.ts
  frontend/web/tests/e2e/errors.spec.ts
  frontend/web/tests/e2e/ontology.spec.ts
Due: none

CI
  .github/workflows/build-dist.yml
  frontend/web/playwright.config.ts
  frontend/web/src/App.tsx
  frontend/web/src/components/ActivityDashboard.tsx
  frontend/web/src/components/ActivityForm.tsx
  frontend/web/src/components/ActivityList.tsx
  frontend/web/src/components/ActivityTimeline.tsx
  frontend/web/src/components/AuthPanel.tsx
  frontend/web/src/components/EmptyState.tsx
  frontend/web/src/components/Layout.tsx
  frontend/web/src/components/OntologyInsights.tsx
  frontend/web/src/components/OntologySearch.tsx
  frontend/web/src/components/SessionBanner.tsx
Due: none

CI
  .github/workflows/swagger-ui.yml
Due: none

CI
  .github/workflows/build-dist.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

CI
  .github/workflows/build-dist.yml
  .github/workflows/ci.yml
Due: none

CI
  .github/workflows/ci.yml
  Taskfile.yml
  frontend/web/src/api/activity.ts
  frontend/web/src/api/identity.ts
  frontend/web/src/telemetry/logger.ts
  scripts/ci/lint_shell.sh
  scripts/ci/smoke.sh
Due: none

CI
  services/activity-service/internal/outbox/failure.go
Due: gofmt, goimports

bugs
  README.md
  Taskfile.yml
  frontend/web/src/App.tsx
  infrastructure/compose/docker-compose.yml
  scripts/ci/smoke.sh
  scripts/lib/wait.sh
  services/activity-service/cmd/api/main.go
  services/exercise-ontology-service/cmd/api/main.go
  services/exercise-ontology-service/internal/consumer/enrichment_handler.go
  services/exercise-ontology-service/internal/consumer/processor.go
  services/identity-service/app/domain/service.py
  services/identity-service/app/main.py
  services/identity-service/app/repository.py
  services/identity-service/app/security/tokens.py
  services/identity-service/pyproject.toml
Due: gofmt, goimports

lint
  .github/workflows/compose-lint.yml
  infrastructure/compose/docker-compose.yml
Due: none

save
  frontend/web/src/components/ActivityForm.tsx
  frontend/web/src/components/OntologyInsights.tsx
  frontend/web/src/components/OntologySearch.tsx
  infrastructure/compose/docker-compose.yml
  infrastructure/scripts/register-registry-schemas.sh
  services/activity-service/cmd/api/main.go
  services/activity-service/internal/observability/metrics.go
  services/activity-service/internal/outbox/dispatcher.go
  services/activity-service/internal/outbox/metrics.go
  services/exercise-ontology-service/cmd/api/main.go
  services/identity-service/app/domain/service.py
  services/identity-service/app/security/tokens.py
Due: gofmt, goimports

shellcheck
  infrastructure/scripts/register-registry-schemas.sh
Due: none

lint
  .dclintrc.json
  .github/workflows/compose-lint.yml
  formatter-github.js
  infrastructure/compose/docker-compose.yml
Due: none

lint
  formatter-github.js
Due: none

tests
  services/identity-service/app/domain/service.py
  services/identity-service/app/security/tokens.py
Due: none

lint
  services/identity-service/app/security/tokens.py
Due: none

lint
  frontend/web/src/App.tsx
  frontend/web/tests/e2e/ontology.spec.ts
  infrastructure/compose/docker-compose.yml
Due: none
